<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PitchNSwitch">
    <meta name="author" content="NMG Technology">
    <meta name="keyword" content="PitchNSwitch">
    <title>PitchNSwitch</title>   
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.png">
   </head>
  <body>
    <table width="100%" cellpadding="0" cellspacing="0" align="center" style="background-color: #efefef;">
            <tr>
                <td style="text-align:center">
                    <table width="600" cellpadding="0" cellspacing="0" align="center"  style="text-align:left">
                        <tr>
                            <td>
                                <img src="%PUBLIC_URL%/emailer-header.png" alt="PitchAndSwitch" style="display:block;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:40px; background-color: #ffffff;">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="padding:0 0 36px">
                                            <h3 style="color: #d0a518;font-size: 22px;font-weight: 400; font-family: Arial; margin: 0; padding:0">Hello  {{pitchUser.userName}},</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 36px">
                                            <p style="color: #414141;font-size: 18px;font-weight: 400; font-family: Arial; margin: 0; padding:0">You product :<b>{{pitchProduct}}</b> have been switched, Please pay your shipment charge for futher process...</p>
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td style="padding:0 0 55px">
                                            <p style="color: #414141;font-size: 18px;font-weight: 400; font-family: Arial; margin: 0; padding:0">Thank you,<br/> Team Pitch and Switch</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0">
                                            <p style="color: #969696; font-family: Arial; font-size: 13px;font-weight: 400; padding: 0; margin: 0"> If you continue to have problems, please feel free to contact us at Pitch and Switch support team.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:30px 0; text-align: center">
                                <p style="color: #414141;font-size: 14px;font-weight: 400; font-family:Arial">Copyright &copy; 2018, All rights reserved by <a href="#" style="color: #d0a518; text-decoration: none">Pitch and Switch</a></p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
  </body>
</html>
