# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/*
package-lock.json
sessions/*
src/config/constant.js
# production
/build

#Assets directory for unwanted image and file
public/assets/uploads/*
# misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

starter.sh

src/BK--controllers--/*
src/BK=routes/*
src/Bk-models/*
src/scss--1-1-/*
/nbproject/private/
