
.popup-overlay { overflow: auto!important; padding:70px 0}
.modal {  font-size: 12px; text-align: left}
.popup-content { box-shadow: 0 2px 30px rgba(0, 0, 0, 0.16); border-radius: 4px; padding: 40px!important;background-color: #ffffff;}
.modal > .header {  width: 100%;  color: #414141;font-size: 30px;font-weight: 700; text-align:left;  padding:0 0 35px}
.modal > .content {  width: 100%;  padding:0;}
.modal > .actions {  margin: auto;}
.modal > .actions {  width: 100%;  padding: 10px 5px;  text-align: center;}
.modal > .close {  cursor: pointer; position: absolute;  display: block; width:20px; height:20px; line-height:20px;  right: 20px;  top:20px;  font-size:18px;  background: #ffffff;  border-radius:50%;  border:2px solid #969696; color:#969696; text-decoration: none; text-align: center; font-weight: bold;}

.secureicon { background:url(../../images/lockicon.png) no-repeat 0 0; padding:0 0 0 30px;color: #3ab03a; font-size: 16px; font-weight: 700; line-height: 24px; margin: 0 auto; max-width: 140px; margin-top:8px;  }
.payInst {color: #969696;font-size: 16px;font-weight: 400;line-height: 36px; text-align: center }
.gold-div {border-radius: 4px;border: 1px solid #efefab;background-color: #ffffdc; color: #414141;font-size: 24px;font-weight: 700; padding:20px 15px;}
.gold-div strong  {width:40%; display: inline-block}
.upgradePlan{height: auto !important; background: rgb(255, 255, 255) !important;}
