header { background:#fff; box-shadow:0 0 2px rgba(0,0,0,0.5); padding:10px 15px; position: relative; z-index: 9}
header .logo {float:left; max-width:200px;}
header .logo img {max-width:100%;}
header nav {float:right; margin-top:25px; }
header nav ul { margin: 0; padding: 0; list-style: none; text-align: right}
header nav ul li { display: inline-block; padding: 0 15px 11px; position: relative}
header nav ul li ul {position: absolute; top:45px; right:0; background: #fff; border:1px solid #ccc; padding:10px 10px; width: 200px; text-align: left; display: none}
header nav ul li:hover ul {display:block}
header nav ul li ul li { display: block; padding: 5px 15px;}
header nav ul li a {color:#666}
header nav ul li.user-login {}
header nav.after-login{ margin-top:20px;}
header nav ul .drop-arrow { position: relative;  padding-right:15px; vertical-align: middle}
header nav ul .drop-arrow::after {content:""; position: absolute; top:2px; right:0; border: solid #414141; border-width: 0 2px 2px 0; display: inline-block; padding: 3px; vertical-align: middle; transform: rotate(45deg); -webkit-transform: rotate(45deg);} 
header nav ul li .pic {margin-right: 10px; vertical-align: middle; display: inline-block}
.login-nav {float:right; font-family: Roboto; font-size: 14px;}
.login-nav .login-link {  padding:10px 15px; color:#dcb73f; background:url(../images/login-icon.png) no-repeat 0 10px; padding-left:30px; text-decoration: none;}
.login-nav .register-link { background:#dcb73f; padding: 10px 15px; color:#fff; border-radius:20px; text-decoration: none}
.login-nav .register-link:hover { background:#caa325;}
header nav ul li.notification { padding:8px; vertical-align: top; padding-bottom: 20px;}
header nav ul li.notification i { display: block; width:16px; height:16px; background:url(../images/notification-icon.png) no-repeat 0 0; }

header nav ul li ul.dashboard-subnav { padding:0; }
header nav ul li ul.dashboard-subnav:before {content:"";  position: absolute; top:-10px; right:9px;  width: 0px;height: 0px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; z-index: 1}
header nav ul li ul.dashboard-subnav:after {content:"";  position: absolute; top:-12px; right:8px;  width: 0px;height: 0px; border-left: 11px solid transparent; border-right: 11px solid transparent; border-bottom: 12px solid #ccc;}
header nav ul li ul.dashboard-subnav li {padding:0;}
header nav ul li ul.dashboard-subnav li a {padding:10px 10px 10px 40px; height:20px; line-height:20px; display: block; position: relative; text-decoration: none;}
header nav ul li ul.dashboard-subnav li a:hover { background-color:#f5f5f5}
header nav ul li ul.dashboard-subnav li a:before {content:""; width:20px; height:20px; background:url(../images/dashboard-icons.png) no-repeat 0 0; position: absolute; top:10px; left:10px   }
header nav ul li ul.dashboard-subnav li a:hover:before {background-position:-28px 0;}
header nav ul li ul.dashboard-subnav li a.dashboard-icon:before {background-position:0 0;}
header nav ul li ul.dashboard-subnav li a.dashboard-icon:hover:before {background-position:-28px 0;}
header nav ul li ul.dashboard-subnav li a.my-trades-icon:before {background-position:0 -40px;}
header nav ul li ul.dashboard-subnav li a.my-trades-icon:hover:before {background-position:-28px -40px;}
header nav ul li ul.dashboard-subnav li a.wishlist-icon:before {background-position:0 -80px;}
header nav ul li ul.dashboard-subnav li a.wishlist-icon:hover:before {background-position:-28px -80px;}
header nav ul li ul.dashboard-subnav li a.trade-match-icon:before {background-position:0 -120px;}
header nav ul li ul.dashboard-subnav li a.trade-match-icon:hover:before {background-position:-28px -120px;}
header nav ul li ul.dashboard-subnav li a.my-chest-icon:before {background-position:0 -161px;}
header nav ul li ul.dashboard-subnav li a.my-chest-icon:hover:before {background-position:-28px -161px;}
header nav ul li ul.dashboard-subnav li a.settings-icon:before {background-position:0 -199px;}
header nav ul li ul.dashboard-subnav li a.settings-icon:hover:before {background-position:-28px -199px;}
header nav ul li ul.dashboard-subnav li a.help-icon:before {background-position:0 -239px;}
header nav ul li ul.dashboard-subnav li a.help-icon:hover:before {background-position:-28px -239px;}
header nav ul li ul.dashboard-subnav li a.logout-icon:before {background-position:0 -279px;}
header nav ul li ul.dashboard-subnav li a.logout-icon:hover:before {background-position:-28px -279px;}

.dashboard-subnav li h3 {color: #414141;font-family: Roboto;font-size: 14px;font-weight: 700; text-align: left; padding:20px 20px; border-bottom:1px solid #d8d8d8;}
.dashboard-subnav li .scroll-div { overflow: auto; max-height:480px; }
.dashboard-subnav li .scroll-div .row { padding:15px 18px; color: #969696;font-family: Roboto;font-size: 15px;font-weight: 400;}
.dashboard-subnav li .scroll-div .row svg { margin-right: 10px; color:#414141; font-size:22px; vertical-align: middle}
.dashboard-subnav li .scroll-div .row.unread { background: rgba(220, 183, 63, 0.15); color: #414141;font-family: Roboto;font-size: 15px;font-weight: 700;}
.dashboard-subnav li .scroll-div .row.unread svg {color:#dcb73f;}

header nav ul li ul.dashboard-subnav.notification-show {width:420px;}

.category .dropDown .menuicon { width:25px; display: inline-block;}



.category {padding:0 0 15px 25px; background: url(../images/category-icon.png) no-repeat 0 0; margin: 25px 0 0 75px;float:left; position: relative; cursor: pointer}
.category .dropDown { position: absolute; top:23px; left:-14px; border-radius: 0 0 4px;border: 1px solid #d6d6d6;background-color: #ffffff; z-index: 999; display: none;}
.category:hover .dropDown { display:block }
.category ul { width: 200px; position: absolute; top:0; left:0; background: #fff; min-height:399px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.27);border: 1px solid #d6d6d6;background-color: #ffffff; }
.category .dropDown > ul:after {    width: 0px; height: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 10px solid #fff; content: " "; position: absolute; top: -10px; left: 10px;}
.category .dropDown > ul:before { width: 0px; height: 0px; border-left: 9px solid transparent; border-right: 9px solid transparent;border-bottom: 11px solid rgba(0,0,0,0.3); content: " "; position: absolute; top: -11px; left: 9px;}
.category ul li { display: block; text-align: left;}
.category ul .submenu > a {position: relative;}
.category ul .submenu > a:after {position: absolute; top:16px; right:14px; border: solid #909090;; border-width:0 2px 2px 0; display: inline-block; padding: 3px; vertical-align: middle;  content:" "; -webkit-transform: rotate(-45deg);}
.category ul li a { text-decoration: none; padding:0 10px; line-height: 40px; display:block;color: #414141;font-family: Roboto; font-size: 14px; }
.category ul li a:hover { background-color: #f5f5f5; color: #d0a518;}
.category ul ul { top:0; left:100%; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.27);border: 1px solid #d6d6d6;background-color: #f9f9f9; display: none}
.category ul li:hover > ul { top:0; left:100%; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.27);border: 1px solid #d6d6d6;background-color: #f9f9f9;  display: block;}
.category ul ul ul {box-shadow: 0 2px 8px rgba(0, 0, 0, 0.27);border-radius: 0 0 4px;border: 1px solid #d6d6d6;background-color: #ffffff; display: none;}
.category ul ul li:hover ul { display: block}



.search-container {margin: 12px 0 0 45px;float:left; border: 1px solid rgba(172,172,172,0.5);background-color: rgba(233,233,233,0.5); padding:10px 0 10px 10px; border-radius:5px}
.search-container .location {float:left; padding-left:20px;  background: url(../images/location-icon.png) no-repeat 0 2px; width:100px;}
.search-container .location input[type=text]{ border:0; color: #969696;font-family: Roboto;font-size: 14px;font-weight: 400; background: none; outline: none; width:100%; height:14px;}
.search-container .search {float:left; padding-left:20px; width:420px; border-left:1px solid  rgba(172,172,172,0.3); padding: 10px 0 9px 10px; margin:-10px 0 -10px }
.search-container .search input[type=text]{ border:0; color: #969696;font-family: Roboto;font-size: 14px;font-weight: 400; background: none; outline: none; width:100%}
.search-container .search-icon {width:40px;height:40px;background: #dcb73f url(../images/search-icon.png) no-repeat center; border: 0; margin: -11px -1px -11px 0; border-top-right-radius:5px; border-bottom-right-radius:5px; text-indent: -999px; overflow:hidden; outline:none; cursor: pointer}

.left-nav { position: absolute; width:200px;}
.left-nav ul { list-style: none;}
.left-nav ul li { padding:0}
.left-nav ul li a { padding:8px 15px; border-bottom:1px solid #ccc; color:#000; display:block;}

footer {padding: 25px 0; text-align: center; color:#666; clear:both; border-top:1px solid #ccc}
footer .container { max-width: 1100px; margin: 0 auto;}
footer .left-div {float:left; width:78%;}
footer .left-div ul { list-style: none; text-align: left;}
footer .left-div ul li { display: inline-block; color: #414141;font-family: Roboto;font-size: 16px;font-weight: 500; margin-right: 15px;}
footer .left-div ul li a { color: #414141; text-decoration: none;}
footer .left-div p {color: #414141;font-family: Roboto;font-size: 14px; opacity:0.7; padding:8px 0 0; text-align: left; }

footer .right-div {float:right; }
footer .right-div a { margin-left: 15px;}

select, select:focus{outline:none}
select{ height:30px; width:100%; border:0px; background:transparent; appearance:none; -webkit-appearance:none; -ms-appearance:none; position:relative}
.select-box, .selectBox{border:1px solid #ccc; border-radius:8px; padding:9px 15px; position:relative;}
.select-box:after, .selectBox:after{border-right: 1px solid #000000;  border-bottom: 1px solid #000000;
                                    content: '';  display: block;  width:8px;  height: 8px;  margin-top: -2px;  pointer-events: none;  position: absolute;
                                    right:15px;  top:38%;  -webkit-transform-origin: 66% 66%;  -ms-transform-origin: 50% 50%;  transform-origin: 50% 50%;
                                    -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg);  transform: rotate(45deg); -webkit-transition: all 0.15s ease-in-out;
                                    transition: all 0.15s ease-in-out;}
.check-box input[type=checkbox] {display: none;}
.check-box {margin: 0px 0 5px;  padding:0px;}
.check-box label:before {content:"";display:inline-block;width:26px;height:17px; margin-right: 10px;position: absolute;left: 0;top:0px;}
.check-box label {color:#969696; font-size:14px; line-height:18px; min-height:inherit; display: inline-block;cursor: pointer;position: relative; padding:0 0 0 30px;}
.check-box label:before {border-radius: 0; background-image: url(../images/checkbox-btn.png); background-repeat:no-repeat; background-position:0 -24px}
.check-box input[type=checkbox]:checked + label:before {background-image: url(../images/checkbox-btn.png); background-repeat:no-repeat;background-position:0 0px }

.tab-outer-container { padding: 0}
.tab-outer-container .react-tabs { padding: 0}
.react-tabs__tab-list {padding:0}
.react-tabs__tab-list li {padding:10px 15px; display: inline-block;background-color: #dcb73f;color: #ffffff;font-size: 18px;font-weight: 400; margin-right: 6px; cursor: pointer}
.react-tabs__tab-list li.react-tabs__tab--selected { background-color:#fff; color:#dcb73f; cursor: default}

.react-tabs__tab-panel { background: #fff; padding: 30px 20px; display: none}
.react-tabs__tab-panel.react-tabs__tab-panel--selected { display: block}

.expanded-tabs .react-tabs__tab-list li {padding:13px 15px; display: inline-block;border: 1px solid #dce2e5;background-color: #efefea;color: #d0a518;font-size: 18px;font-weight: 400; margin-right: 6px; cursor: pointer; width:48%; box-sizing: border-box; margin-right: 0; margin-right:2%; border-radius: 4px; text-align: center}
.expanded-tabs .react-tabs__tab-list li.react-tabs__tab--selected { border: 1px solid #dcb73f;background-color: #dcb73f; color:#fff; cursor: default}
.expanded-tabs .react-tabs__tab-list li:last-child { margin-right: 0}

.item-listing {margin: 0 auto}
.item-listing .pic { padding:0; min-height:243px; background:#f2f2f2}
.item-listing .pic img { max-width: 100%; display: block;}
.item-listing .Items { border-radius:8px; box-shadow:0 0 4px rgba(0,0,0,0.5); max-width: 199px; overflow: hidden; background:#fff; margin:0 17px 30px 0; float:left}
.item-listing .Items .details { padding:10px 15px; text-align: left}
.item-listing .Items .details h4 { color: #414141;font-family: Roboto;font-size: 18px;font-weight: 400; margin-bottom: 10px; text-overflow: ellipsis; height:53px; overflow: hidden; }
.item-listing .Items .details h4 a {color:#414141; }
.item-listing .Items .catLink {background-color: #dab439; color: #fff; display: inline-block; padding: 5px 15px; border-radius:15px; text-decoration: none; font-size: 12px;}
.item-listing .Items:nth-child(4n+4) { margin-right: 0} 

