.add-product-container { background-color: #f1f1f1; padding:40px 0 70px; background-size:100% auto}
.add-product-container .container { max-width: 1100px; margin: 0 auto}
.add-product {margin: 0 auto; max-width: 480px;}
.add-product h3 { padding-bottom: 0;color: #414141;font-size: 30px;font-weight: 700; text-align:left;}
.add-product .form-row input[type=text],.add-product .form-row input[type=password], .add-product .form-row input[type=email],.add-product  .form-row .textBox {    background:#fff}
.add-product .form-row textarea {width: 100%; height:100px; line-height:18px; border-radius: 4px; border: 1px solid #cfcfcf; background-color: #f4f4f4;-webkit-box-sizing: border-box; box-sizing: border-box; padding:10px 15px; clear: both; font-family:Arial;} 
.select-box { background: #fff;}
/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {  font-size: 32px;  color: #999;}
.ant-upload-select-picture-card .ant-upload-text {margin-top: 8px;  color: #666;}
.form-row .ant-upload.ant-upload-select-picture-card {background-color: #e1e1e1;}
.ant-upload-select-picture-card i {border-radius: 15px;background-color: #d0a518; color:#fff}
i.anticon svg{display:none;}
