// Here you can add other styles
.mousePointer {  
    cursor: pointer !important;  
}  

.read-more-button{
    color: lightseagreen;
    cursor: pointer !important;  
}

.checkbox-item
{
   display:none;
}

.infinite-scroll-component{
    height: 200px !important;
    width: 300px !important;
}


.dropdown-trigger .tag-item .search {  width: 300px !important;}
