// Here you can add other styles
.mousePointer {  
    cursor: pointer !important;  
}  

.read-more-button{
    color: lightseagreen;
    cursor: pointer !important;  
}

.ant-select-search__field__wrap{
   background-color:rgba(233,233,233,0.5)
}
